Source: raumzeitchef-ircbot
Section: perl
Priority: optional
Maintainer: Michael Stapelberg <michael@stapelberg.de>
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libanyevent-http-perl,
 libanyevent-irc-perl,
 libanyevent-perl,
 libanyevent-httpd-perl,
 libaudio-mpd-perl,
 libjson-xs-perl,
 liburi-perl,
 perl
Standards-Version: 3.9.2
Homepage: http://search.cpan.org/dist/RaumZeitMPD/

Package: raumzeitchef-ircbot
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends},
 libanyevent-http-perl,
 libanyevent-irc-perl,
 libanyevent-perl,
 libanyevent-httpd-perl,
 libaudio-mpd-perl,
 libjson-xs-perl,
 liburi-perl,
 perl
Description: RaumZeitMPD IRC bot
 RaumZeitMPD is an IRC bot (nickname RaumZeitMPD) which displays the currently
 playing song (querying the MPD) upon !stream and enables a light upon !ping.
 .
 This description was automagically extracted from the module by dh-make-perl.
