Source: raumzeitchef-ircbot
Section: perl
Priority: optional
Maintainer: Maik Fischer <maikf@qu.cx>
Build-Depends: debhelper (>= 9.20120312)
Build-Depends-Indep: libanyevent-http-perl,
 libanyevent-httpd-perl,
 libanyevent-irc-perl,
 libanyevent-perl,
 libaudio-mpd-perl,
 libhtml-parser-perl,
 libhtml-tree-perl,
 libhttp-message-perl,
 libjson-xs-perl,
 liblist-moreutils-perl,
 liblog-dispatch-perl,
 libmoose-perl,
 libmoosex-classattribute-perl,
 libnet-ssleay-perl,
 libmodule-install-perl,
 liburi-perl,
 perl (>= 5.15.2)
Standards-Version: 3.9.2
Homepage: https://github.com/raumzeitlabor/raumzeitchef-ircbot

Package: raumzeitchef-ircbot
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends},
 libanyevent-http-perl,
 libanyevent-httpd-perl,
 libanyevent-irc-perl,
 libanyevent-perl,
 libaudio-mpd-perl,
 libhtml-parser-perl,
 libhtml-tree-perl,
 libhttp-message-perl,
 libjson-xs-perl,
 liblist-moreutils-perl,
 liblog-dispatch-perl,
 libmoose-perl,
 libmoosex-classattribute-perl,
 libnet-ssleay-perl,
 liburi-perl,
 perl (>= 5.14.0)
Description: RaumZeitChef IRC bot
 RaumZeitChef is an IRC bot (nickname RaumZeitChef)
